        @keyframes fadeIn{
            from{opacity: 0}
            to{opacity: 1}
        }
        
        /***SNACKBAR ANIMATION***/

        @keyframes fadeInTop{
            from{top:0; opacity: 0}
            to{top:10px; opacity: 1}
        }

        @keyframes fadeInBottom{
            from{bottom:0; opacity: 0}
            to{bottom:10px; opacity: 1}
        }
        
        /***SNACKBAR MODAL***/

        @keyframes slideFromTop{
            from{top: -300px; opacity:0}
            to{top:0; opacity:1}
        }
        
        @keyframes slideIn{
            from{bottom: -300px; opacity:0}
            to{bottom:0; opacity:1}
        }